vivado_proj.cache/
vivado_proj.hw/
vivado_proj.ip_user_files/
vivado_proj.runs/
vivado_proj.sdk/.metadata/
vivado_proj.sdk/.sdk/
vivado_proj.sdk/RemoteSystemsTempFiles/
vivado_proj.sdk/SDK.log
vivado_proj.sdk/axidma_driver_test/.cproject
vivado_proj.sdk/axidma_driver_test/.project
vivado_proj.sdk/axidma_driver_test/Debug/
vivado_proj.sdk/axidma_driver_test/src/README.txt
vivado_proj.sdk/axidma_driver_test/src/Xilinx.spec
vivado_proj.sdk/axidma_driver_test/src/lscript.ld
vivado_proj.sdk/axidma_driver_test_bsp/
vivado_proj.sdk/axil_driver_test/.cproject
vivado_proj.sdk/axil_driver_test/.project
vivado_proj.sdk/axil_driver_test/Debug/
vivado_proj.sdk/axil_driver_test/src/README.txt
vivado_proj.sdk/axil_driver_test/src/Xilinx.spec
vivado_proj.sdk/axil_driver_test/src/lscript.ld
vivado_proj.sdk/axil_driver_test_bsp/
vivado_proj.sdk/webtalk/
vivado_proj.sdk/zynq_bd_wrapper.hdf
vivado_proj.sdk/zynq_bd_wrapper_hw_platform_0/
vivado_proj.srcs/
vivado_proj.tmp/
vivado_proj.xpr
